/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 ul, ol,li{
    list-style: none;
 }

 body{ 
    height: 70vh; 
    padding-inline: 3.8vh;
    background-size: 57% 150%;
    background-position-x: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat; 
    background-size: cover;
    margin-left: -4vh;
 

} 
.cidade{
   height: 10%;
   width: 100%;

}
.corpo{
   height: 100%;
   width: 100%;
 
}
header{
   height: 10%;
   width: 100%;
   display: flex;
   align-items: center;
   margin-bottom: 9%;
 
}
.logo{ 
   height: 19vh;  
   width: 6vh;
   margin-left: 3vh;
     
} 
 
.menu{
   display: flex;
   right: 100vh;
   height: 18vh;
}
.menu ul{
   display: flex;
   gap: 5vw;
   font-size: 32px;
   color: white;
   margin-left: 5vh;

}
 .main{
    height: 80%;
    width: 100%;
    /*flex-grow: 1;*/
    display: flex;
    background-color: aquamarine;
   }
 .conteudo{
    display: flex;
    margin-top: -11vh;
    margin-left: 3vw;
    /*flex-direction: column;*/
    display: inline-block;
   }
 .conteudo h2{
   width: 100vh;
    font-size: 3vh; 
    color: white;
    font-style: light; 
   }
 .conteudo h3{ 
   width: 80vh;
    font-size: 2vh;  
    color: white; 
    font-style: light;
   } 
 
.conteudo img{
   width: 50%;
    display: flex;
    margin-top: 1vh;
    margin-left: -2vw;
   
}
 .social {
    width: 80%;
    display: flex;
    justify-content: space-between;
   }
 
 
 .destaque img{ 
    width: 47.3vh;
    height: 73.5vh;
    background-repeat: no-repeat;   
    align-items:  center; 
    display:flex;
    position: relative;
    right: -59vh;
    top: -43.2vh;
    position: relative;
   }  
 
 footer{
    height: 30.5vh;
    width: 106.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 79, 79);  
    opacity: 90%;
    margin-top: -71.6vh;
   }

 .seta{
    height: 5vh;
    width: 3vh;
    display: flex;
    position: relative;
    top: 45%;
    right: 61%;
   }
 .seta2{
    height: 5vh;
    width: 3vh;
    display: flex;
    position: relative;
    top: 45%;
    right: -193%;
   }
 
   .box{
     width: 30vh;
     height: 40vh;
     display:flex;
     gap: 7vh;
     position: relative;
     right: 18.5%;

   }
 .filmes{
    width: 8vh;
    height: 23vh;
    display:flex;
    gap: 1vh;
    position: relative;
    right: 23vh;
    top: 28%;
   }

 .dc p{
    right: 100vh;
    font-size: 3vh;  
    color: white; 
    font-style: light;
    display: flex;
    flex-direction: row;
    top: -135%;
    margin-bottom: 45vh;
    margin-left: -36vh;
    margin-top: 18vh;;
   }

   