 /* reset */
 *{
   padding: 0;
   margin: 5px;
   box-sizing: border-box;
}
a{
   text-decoration: none;
   color: inherit;
}
ul, ol,li{
   list-style: none;
}
body{ 
   height: 100vh; 
   display: flex; 
   flex-direction: column; 
   padding-inline: 90px; 
   background-image: url(./img/imagem2.png); 
   background-repeat: no-repeat; 
   background-size: cover;

} 

header{
   height: 200px;
   display: flex;
   align-items: center;
}
.logo{ 
   height: 55px;  
   width: 60px;  
   background-image: url(./img/simbolo\ dc.png); 
} 

.menu{
   display: flex;
   gap: 32px;
   
}
.menu ul{
   display: flex;
   gap: 32px;
   font-size: 32px;
   color: white;
   margin-bottom: 0%;

}
main{
   flex-grow: 1;
   display: flex;
}
.conteudo{
   width: 50%;
   display: flex;
   flex-direction: column;

}
.conteudo h2{
   font-size: 38px; 
   color: white;
   margin-bottom: 10%;
   font-style: light;
}
.conteudo h3{ 
   font-size: 30px;  
   color: white; 
   font-style: light; 
} 

.social {
   width: 80%;
   display: flex;
   justify-content: space-between;
}


.destaque{ 
   width: 100vh; 
   right: 80px;
   background-image: url(./img/batman.png); 
   background-repeat: no-repeat;   
   align-items:  center;
   margin-left: 350px;
   
}  

footer{
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

